@import url(../App.css);

.about-container {
    z-index: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin: 0 16rem;
}

h2 {
    font-family: 'Tan Pearl';
    font-weight: 100;
    font-size: 2rem;
    margin: 2rem 0;

}

#about-me {
    font-size: 1.2rem;
    text-align: justify;

}

#bold {
    font-weight: 600;
}

#border-pp img {

    border-radius: 120px 120px 20px 120px;
}

#pp {
    object-fit: cover;
    width: 75%;
    margin: 50px;
    filter: grayscale(25%);


}

button {
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 25px 25px 25px 5px;
    background-color: rgba(35, 30, 59, 0);
    color: white;
    border: solid white 0.5px;
    font-family: "Red Hat Text";
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: ease 0.3s;
}

button:hover {
    background-color: #4c316d;
    transition: ease 0.3s;
    transform: scale(1.05);
}