.landing {
  position: relative;
  z-index: 99;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(30%);
}

.arrow-scroll {
  z-index: 101;
  position: absolute;
  bottom: 0;

  animation-name: slow-bounce;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
  text-align: center;
}

@keyframes slow-bounce {
  from {
    transform: translateY(7px) scale(0.6);
  }

  to {
    transform: translateY(-7px) scale(0.6);
  }
}

.scroll-text {
  font-size: 1.5rem;
}
