.project-container {
  display: flow-root;
}

.title {
  text-align: center;
  margin: 2rem 0;
}

.project-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  padding-top: 42px;
}

.project-link {
  text-decoration: none;
  color: inherit;
}

.project-frame {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  border: solid 1px white;
  border-radius: 25px;
  height: 20rem;
  width: 30rem;
  max-width: 100%;
  overflow: hidden;
  align-self: center;
}

.img-project {
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.detail-project {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 60%;
  z-index: 1;
  color: #ffffff;
  opacity: 0;
  text-align: justify;
  margin: 2rem 5rem;
}

.type {
  font-style: italic;
}

.name {
  font-size: 2rem;
}

.techno {
  margin-top: 2rem;
}

.project-frame:hover .detail-project {
  opacity: 1;
  transition: 0.6s;
}

.project-frame:hover .img-project {
  transform: scale(1.05);
  transition: 0.5s;
  filter: blur(5px) grayscale(50%) brightness(50%);
}
