@font-face {
    font-family: 'Tan Pearl';
    src: url(./assets/font/tan-pearl.otf);
  }

@font-face {
    font-family: 'Red Hat Text';
    src: url(./assets/font/RedHatText-VariableFont_wght.ttf);
  }